@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.miama{
    font-family: "miama", sans-serif;
    font-size: 4.8rem;
}
body{
    background-color: black;
    max-width: 75%;
    margin: 0 auto;
    color: white;
}
header{
    background:linear-gradient(360.00deg, rgb(17, 17, 17), rgba(8, 8, 8, 0.8) 100%);
}
/* navbar styles */
.navbar{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: bolder;
}
ul{
    display: flex;
    gap: 65px;
}
li{
    list-style: none;
    margin: 0;
}
li>a{
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 1.25rem;
}
.nav-items{
    padding: 0;
    padding: 4px 24px;
    padding-left: 4px;
    /* margin: 0; */
    /* padding-right: 30px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.256);
    border-radius: 35px;
    /* background-color: rgba(255, 255, 255, 0.081); */
}
.home{
    background-color: #E6533C;
    border-radius: 35px;
    padding: 8px 20px;
}
.menu-icon{
    display: none;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-right: -240px;
    /* align-items: center; */
}
.banner-details{
    width: 35%;
}
.banner-title{
    font-size: 4.8rem;
}
.banner-card-1{
    width: 195px;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 12px;
    padding: 24px 17px;
    margin-top: -450px;
    margin-left: 230px;
    /* text-align: center; */
}
.card-1-title, .card-1-description{
    margin: 0;
}
.card-1-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}
.card-1-description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}
/* Media Query for Small Device */
@media screen and (max-width: 576px) {
    body{
        width: 100%;
        margin: 0 auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-items{
        display: none;
    }
    .navbar{
        width: 100%;
        margin: 0;
        gap: 90px;
        justify-content: space-between;
    }
    .menu-icon{
        display: block;
    }
}