@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(' https://fonts.cdnfonts.com/css/miama' );
*{
  padding: 0;
  margin: 0;
}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .miama{
    font-family: "miama", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body{
    background-color: black;
    color: white;
  }
  header{
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(8, 8, 8, 0.8) 100%);
  }
  /* Navbar style */
.header{
    max-width: 75%;
    margin: 0 auto;
    padding-top: 55px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.nav-title{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: bolder;
}
ul{
    display: flex;
    gap: 45px;
    margin: 0 auto;
    font-size: 1.12rem;
    font-weight: 400;
    align-items: center;
}
ul li{
    list-style: none;
}
.nav-items{
    border: 1px solid gray;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 4px;
    padding-right: 20px;
    margin: 0;
}
.home{
  background-color: #E6533C;
  border-radius: 40px;
  padding: 8px 20px;
  margin: 0;
}
.hamberger{
  display: none;
}
/* banner style */
span{
  font-size: 9.5rem;
  font-weight: 400;
}
.banner{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 600px;
}
.banner-para{
  width: 520px;
}
.para-head{
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 900;
  margin-top: 64px;
  /* padding-right: 85px; */
  line-height: 2.5cm;
}
.para-description{
color: rgba(255, 255, 255, 0.5);
margin-top: 28px;
margin-bottom: 28px;
font-size: 1rem;
font-weight: 400;
}
.join-club{
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: #E6533C;
  border-radius: 42px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 16px 47px;
  margin-right: 14px;
}
.app{
  border: 1px solid white;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 42px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 16px 47px;
}
.card-1{
  width: 160px;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 12px;
    padding: 17px 24px;
    /* text-align: center; */
    position: absolute;
    top: 28%;
    left:81%;
}
.card-2{
  display: flex;
  align-items: center;
  gap: 0px;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.23);
  border-radius: 12px;
  padding: 10px 23px;
  /* text-align: center; */
  justify-content: space-between;
  position: absolute;
  top: 58%;
  left: 63%;
}
.play{
  background-color:#E6533C ;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}